NET reset LOC = "AK10" | PULLDOWN | IOSTANDARD = HSTL_I;

NET tx_disable    LOC = M27 | IOSTANDARD = LVCMOS25;
NET tx_fault      LOC = N27 | IOSTANDARD = LVCMOS25;
NET sfp_rs        LOC = K28 | IOSTANDARD = LVCMOS25;
NET signal_detect LOC = P19 | IOSTANDARD = LVCMOS25 | PULLUP;

#NET tx_disable LOC = L27 | IOSTANDARD = LVCMOS25;
#NET tx_disable LOC = K25 | IOSTANDARD = LVCMOS25;
#NET tx_disable LOC = K21 | IOSTANDARD = LVCMOS25;

NET refclk_p LOC = C8;
NET refclk_n LOC = C7;

##############################
NET "*q1_clk0_refclk_i" TNM_NET="refclk";
TIMESPEC "TS_refclk" = PERIOD "refclk" 6400 ps;

NET "*clk156_buf*" TNM_NET="clk156";
TIMESPEC "TS_clk156" = PERIOD "clk156" 6400 ps;

NET "*gt0_rxoutclk_i" TNM_NET="rxoutclk";
TIMESPEC "TS_rxoutclk" = PERIOD "rxoutclk" 3103 ps;

NET "*gt0_txoutclk_i" TNM_NET="txoutclk";
TIMESPEC "TS_txoutclk" = PERIOD "txoutclk" 3103 ps;

NET "*txclk322" TNM_NET="txclk322";
TIMESPEC "TS_txclk322" = PERIOD "txclk322" 3103 ps;

NET "*rxclk322" TNM_NET="rxusrclk2";
TIMESPEC "TS_rxusrclk2" = PERIOD "rxusrclk2" 3103 ps;

NET "*rxusrclk2_en156*" TNM_NET = FFS "rxusrclk_en_grp";
TIMESPEC "TS_rx_multiclk" = FROM "rxusrclk_en_grp" to "rxusrclk_en_grp" TS_rxusrclk2*2;

NET "*dclk_buf" TNM_NET="dclk";
TIMESPEC "TS_dclk" = PERIOD "dclk" TS_clk156*2;

# Edit these constraints to select the correct transceiver for your design
## Sample constraint for GT location
INST "*/gtxe2_i"          LOC="GTXE2_CHANNEL_X0Y12";
INST "*/gtxe2_common_0_i" LOC="GTXE2_COMMON_X0Y3";
